.chart {
    border:1px solid black;
    height: calc( 85vh - 20px);
    position: relative;
    svg {
        border:1px solid red;
        width: 100%;
        height: 100%;
        path.line {
            fill: none;
            stroke: #ffab00;
            stroke-width: 3;
        }
    }
    
}
