<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="app-sidenav">
    <mat-nav-list class="sidebar">
      <div *ngFor="let sidebarItem of sidebarList | keyvalue">
        <h3 matSubheader>{{sidebarItem.value.title}}</h3>
        <a *ngFor="let item of sidebarItem.value.itemList" [routerLink]="item.path" mat-list-item routerLinkActive="active">
          <fa-icon [icon]="item.icon" class="icon"></fa-icon>
          {{item.name}}
        </a>
        <mat-divider></mat-divider>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>