@import '~@angular/material/theming';

.toogle-button {
  position: absolute;
  left: -20px;
  z-index: 2;
}

.app-container,
.app-sidenav {
  padding-top: 64px;
  height: calc(100vh - 64px);

  .sidebar {
    width: 100%;
    min-width: 200px;
    margin: 0;
    padding: 0;
    a.active {
      background-color: #303f9f;
      color: white;
      font-weight: bolder;
    }
  }
}
